@font-face {
  font-family: 'dvasi-roboto';
  font-weight: 300;
  src: url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
       url('./assets/fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'dvasi-roboto';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/Roboto-LightItalic.woff2') format('woff2'),
       url('./assets/fonts/Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'dvasi-roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
       url('./assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'dvasi-roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Italic.woff2') format('woff2'),
       url('./assets/fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'dvasi-roboto';
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
       url('./assets/fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'dvasi-roboto';
  src: url('./assets/fonts/Roboto-BoldItalic.woff2') format('woff2'),
       url('./assets/fonts/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
  font-weight: 900;
  font-family: 'dvasi-roboto';
  src: url('./assets/fonts/Roboto-Black.woff2') format('woff2'),
       url('./assets/fonts/Roboto-Black.woff') format('woff');
}

p, ul, li, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}